.focus{
    width:100vw;
    height:100vh;
    top:0px;
    left:0px;
    position:fixed;
    z-index:2;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,0) 50%, rgba(47, 47, 48,1) 100%);
    overflow:none;
    animation: radialBack 1s;
}
    
    @keyframes radialBack { 
        from{opacity: 0}
        to{opacity: 1.0}
    }
    .notInFocus{
        width:100vw;
        height:100vh;
        top:0px;
        left:0px;
        position:fixed;
 
        background: rgb(2,0,36);
        background: radial-gradient(circle, rgba(2,0,36,0) 50%, rgba(47, 47, 48,1) 100%);
        overflow:none;
        opacity:1.0;
        animation: radialOut 1s forwards;
    }
        @keyframes radialOut{
            from{
                opacity:1.0;
            }
            99%{
                width:100vw;
                height:100vh;
            }
            100%{
                width: 0px;
                height: 0px;
            }
            to{
                opacity:0;
            }
        }

.OptimizationOption{
    text-align: center;
    position:relative;
    z-index:100000;
    animation: previewMode 1.5s forwards; 

}
.OptimizationOptionHide{
    text-align: center;
    position:relative;
    z-index:4;
    animation: previewModeHide .5s forwards; 
    border-radius: 10px 10px 0px 0px;

            

}
.OptimizationOptionDefault{
    height: 0px;
    border-radius: 10px 10px 0px 0px;  

            

}
    @keyframes previewMode {
        from {
            max-height: 0px;
        }
        to{
            max-height: 200px;
        }
    }
    @keyframes previewModeHide {
        from {
            max-height: 200px;
        }
        to{
            max-height: 0px;
        }
    }
    .OptimizationOptionHide >*{
        margin:5px;
    }
    .OptimizationOption > *{
        margin:5px;   
    }
        .OptimizationOption{
            border-radius: 10px 10px 0px 0px;
           
            
        }
            .optimizeTripBackground{
                z-index: -4;
                content:'';
                position:absolute;
                left:0px;
                transform:translateY(-500%);
                transform:translateX(0px);
                width:100vw;
                height:100px;
                background-color: white;
            }
            body{
                overflow-x:hidden;
                width:100vw;
            }
        .OptimizedHeader > h3{
           color:rgb(56, 56, 56);   
        }
        .OptimizedHeader >*{
            display:inline-block;
            margin:5px;
            vertical-align: middle;
        }