.layerSelection{
    width:75px;
    height: 75px;

    z-index:10000000;

    border-radius: 10px;
    padding:2.5px;
    float:left;
}

    .disablePreviewMap{
        cursor:pointer;
        position:absolute;
        display:flex;
        width:70px;
        height: 70px;
        
        z-index:5000;
        color:rgb(255, 255, 255);
        background-color:rgba(0, 0, 0, 0.493);
        text-align: center;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        border:1.5px solid rgb(128, 128, 128);
        transition-duration: .5s;
    }
    .previewMap{
        width:70px;
        height: 70px;
        border-radius: 10px;
        
    }
        .disablePreviewMap:hover{
            background-color: rgba(0, 0, 0, 0.678);
            
        }

.popover{
    background-color:rgba(255, 255, 255, 0.589);
    max-width:90vw;
}